<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
  </head>
  <body>
    
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        

        <div class="off-canvas-content" data-off-canvas-content>
            <div class='row column'>
                <div class='column centered'>
                  <h1 class='text-center'>Graph Generator by KitsuneSays Analytics</h1>
                  <p class='text-center'>We needed one, so we made one.  If you need one too, enjoy!</p>
                </div>
            </div>
            <hr>
            <div class="row small-up-2 medium-up-3 large-up-4">
              <%= render @graphs %>
            </div>
            <div class="flickr_pagination">
              <div class="page_info">
                <%= page_entries_info @graphs, :model => 'graph' %>
              </div>
              <%= will_paginate @graphs, :container => false %>
            </div>
            
          
            
        </div>
      </div>
    </div>
    
  </body>
</html>


    