
<div class="row">
	<h3>About KitsuneSays</h3>
</div>
<div class="row">
	<h5>What is this?</h5>
	<p><strong>KitsuneSays</strong> is an automated system which aims to provide data tracking capabilities to organizations and people who might not otherwise be able to afford the eyes they need.<br><br>
	Soon, financial markets will be added to the tracking capabilities, followed by Sports and eventually real estate.  As each data flow stabilizes it will be added to the Alerts system.<br><br>
	<strong>KitsuneSays</strong>, the website, is also a front for <strong>Kitsune</strong>, a data processing cluster that resides in my living room and helps keep me warm in the winter.  When projects mature into trackable flows, they are redirected to KitsuneSays as articles, from where they become linked to the alerts system.</p>
	<h5>Who is this?</h5>
	<p><strong>KitsuneSays</strong> is a one-man operation.  I have no employees other than Kitsune itself:<br><br>
	<img source='#'>
	Obviously this has advantages and disadvantages.  The operation is extremely lean and this means I can keep subscription prices cheap.<br><br>
	On the flipside, Kitsune is not monitored very closely.  If my robot does something stupid, <i>please</i> let me know.  I won't be offended or upset.  Kitsune has no moral compass and no opinions of its own.  Certain activities rely on randomness to give the outputs a more human touch, and not all human touches are <i>good</i> touches.</p><br><br>
	<h5>What is this not?</h5>
	<p>It is important to emphasize that virtually no content on <strong>KitsuneSays</strong> is written by actual humans (excepting, obviously, this page).  The poetry is robotic, the articles are robotic, even most of the HTML is written by a robot, often on the fly.  This can occasionally have catastrophic results.  Images (for example) are pulled from public domain sources or from license-free stock image depositories.  In the latter case, the image is located using search terms and selected from the search results based on a combination of image popularity and randomness.  If you think Kitsune is attempting to "make a point" with an image it attaches to an article, I can guarantee you with complete certainty it is not.  It meant no offense if offense was given.  It sees the image only as a series of color codes in a grid.<br><br>
	No effort is made to conceal the automated nature of Kitsune's outputs.  I believe that attempting to pass robotic language off as human writing often inserts it squarely into the uncanny valley.  Some of the content will not have value, and if this appears to be the case, it probably actually <i>is</i> the case.  Some things will seem redundant, usually because they are.  Analytics outputs that seem to be missing the point, or overreaching, or just plain wrong... well, they're probably all of those things.  Mitigating the side effects of automation takes a lot of time and effort that a one-man operation does not have available, and everyone using this service should be aware that they are not reading a human's blog.<br><br>
	Kitsune is intended to augment your own thinking, not replace it.</p>
</div>